body {
    background-color: #efefef;
}
div.body {
    background-color: #efefef;
}
div.toctree-wrapper span.caption-text {
    font-weight: bold;
}
div.red_square {
  border: solid 21px #f0f;
  width: 30px;
  height: 30px;
}
pre {
  background-color: #345;
  color: #fff;
}
